################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KGSoft
/KGSoft.TinyHttpClient/bin/Debug
/KGSoft.TinyHttpClient/obj
