################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KGSoft
/KGSoft.TinyHttpClient/bin/Debug
/KGSoft.TinyHttpClient/obj
/KGSoft.TinyHttpClient.Tests/bin/Debug
/KGSoft.TinyHttpClient.Tests/obj/Debug
/packages
/KGSoft.TinyHttpClient/bin/Release
/.vs/ProjectEvaluation
/KGSoft.TinyHttpClient.Test/bin/Release/net5.0
/KGSoft.TinyHttpClient.Test/obj
/KGSoft.TinyHttpClient.Test/bin/Debug/net5.0
/KGSoft.TinyHttpClient.Test/bin/Debug/net6.0
